<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
</head>

<body>
    <div id="app">
        <weather-box></weather-box>
    </div>
</body>

</html>
<script src="./lib/vue.js"></script>
<script src="./lib/axios.min.js"></script>
<!-- 定义模板 -->
<script id='weather' type="text/html">
    <div class="weather">
        <img class="sun" src="./img/sun.jpg" alt="">
        <input type="text" placeholder="请查询输入的城市" v-model.trim="city" @keyup.enter="search">
        <transition-group v-show="weatherList.length!=0" name="list" tag="ul">
            <li :style='{transitionDelay:index*300+"ms"}' v-for="(item, index) in weatherList" :key="item.date">
                {{item.date}}---{{item.high}}---{{item.low}}---{{item.fengxiang}}
            </li>
        </transition-group>
        <transition name="bounce">
            <img class="err" v-if="isShow"  src="./img/noExist.jpg" alt="">
        </transition>
    </div>
</script>
<script>
    Vue.component('weather-box', {
        template: '#weather',
        data: function () {
            return {
                city: '',
                weatherList: [],
                isShow: false
            }
        },
        methods: {
            search() {
                this.weatherList = [];
                
                axios.get(`http://wthrcdn.etouch.cn/weather_mini?city=${this.city}`)
                    .then(response => {
                        this.weatherList = response.data.data.forecast;
                        this.isShow = false;
                    })
                    .catch(response => {
                        this.isShow = true;
                    })
                    this.city ='';
            }
        }
    });

    let app = new Vue({
        el: '#app'
    })
</script>